In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

%matplotlib inline

In [5]:
aapl = yf.Ticker('AAPL')

In [6]:
aapl

yfinance.Ticker object <AAPL>

In [14]:
days = 50
hist = aapl.history(period=f'{days}d')
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81918000,0,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0,0
2021-05-18,126.559998,126.989998,124.779999,124.849998,63342900,0,0
2021-05-19,123.160004,124.919998,122.860001,124.690002,92612000,0,0
2021-05-20,125.230003,127.720001,125.099998,127.309998,76857100,0,0
2021-05-21,127.820000,128.000000,125.209999,125.430000,79295400,0,0
2021-05-24,126.010002,127.940002,125.940002,127.099998,63092900,0,0
2021-05-25,127.820000,128.320007,126.320000,126.900002,72009500,0,0
2021-05-26,126.959999,127.389999,126.419998,126.849998,56575900,0,0
2021-05-27,126.440002,127.639999,125.080002,125.279999,94625600,0,0
2021-05-28,125.570000,125.800003,124.550003,124.610001,71311100,0,0
2021-06-01,125.080002,125.349998,123.940002,124.279999,67637100,0,0
2021-06-02,124.279999,125.239998,124.050003,125.059998,59278900,0,0
2021-06-03,124.680000,124.849998,123.129997,123.540001,76229200,0,0
2021-06-04,124.070000,126.160004,123.849998,125.889999,75169300,0,0
2021-06-07,126.169998,126.320000,124.830002,125.900002,71057600,0,0
2021-06-08,126.599998,128.460007,126.209999,126.739998,74403800,0,0
2021-06-09,127.209999,127.750000,126.519997,127.129997,56877900,0,0
2021-06-10,127.019997,128.190002,125.940002,126.110001,71186400,0,0
2021-06-11,126.529999,127.440002,126.099998,127.349998,53522400,0,0
2021-06-14,127.820000,130.539993,127.070000,130.479996,96906500,0,0
2021-06-15,129.940002,130.600006,129.389999,129.639999,62746300,0,0
2021-06-16,130.369995,130.889999,128.460007,130.149994,91815000,0,0
2021-06-17,129.800003,132.550003,129.649994,131.789993,96721700,0,0
2021-06-18,130.710007,131.509995,130.240005,130.460007,108953300,0,0
2021-06-21,130.300003,132.410004,129.210007,132.300003,79663300,0,0
2021-06-22,132.130005,134.080002,131.619995,133.979996,74783600,0,0
2021-06-23,133.770004,134.320007,133.229996,133.699997,60214200,0,0
2021-06-24,134.449997,134.639999,132.929993,133.410004,68711000,0,0
2021-06-25,133.460007,133.889999,132.809998,133.110001,70783700,0,0
2021-06-28,133.410004,135.250000,133.350006,134.779999,62111300,0,0
2021-06-29,134.800003,136.490005,134.350006,136.330002,64556100,0,0
2021-06-30,136.169998,137.410004,135.869995,136.960007,63261400,0,0
2021-07-01,136.600006,137.330002,135.759995,137.270004,52485800,0,0
2021-07-02,137.899994,140.000000,137.750000,139.960007,78852600,0,0
2021-07-06,140.070007,143.149994,140.070007,142.020004,108181800,0,0
2021-07-07,143.539993,144.889999,142.660004,144.570007,104911600,0,0
2021-07-08,141.580002,144.059998,140.669998,143.240005,105575500,0,0
2021-07-09,142.750000,145.649994,142.649994,145.110001,99788400,0,0
2021-07-12,146.210007,146.320007,144.000000,144.500000,76299700,0,0
2021-07-13,144.029999,147.460007,143.630005,145.639999,100827100,0,0
2021-07-14,148.100006,149.570007,147.679993,149.149994,127050800,0,0
2021-07-15,149.240005,150.000000,147.089996,148.479996,106820300,0,0
2021-07-16,148.460007,149.759995,145.880005,146.389999,93100300,0,0
2021-07-19,143.750000,144.070007,141.669998,142.449997,121434600,0,0
2021-07-20,143.460007,147.100006,142.960007,146.149994,96238600,0,0
2021-07-21,145.529999,146.130005,144.630005,145.399994,74915000,0,0
2021-07-22,145.940002,148.199997,145.809998,146.800003,77338200,0,0
2021-07-23,147.550003,148.720001,146.919998,148.559998,71361600,0,0

In [8]:
hist.columns

NameError: name 'hist' is not defined

In [9]:
hist.reset_index()

NameError: name 'hist' is not defined

In [10]:
hist_msft = yf.Ticker('MSFT').history(period=f'{days}d')
hist_msft.head()

ConnectionError: HTTPSConnectionPool(host='query2.finance.yahoo.com', port=443): Max retries exceeded with url: /v8/finance/chart/MSFT?range=50d&interval=1d&includePrePost=False&events=div%2Csplits (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x000001AD89DD6A00>: Failed to establish a new connection: [WinError 10013] アクセス許可で禁じられた方法でソケットにアクセスしようとしました。'))

In [11]:
pd.concat([hist, hist_msft], axis=1).head()

NameError: name 'hist' is not defined

In [15]:
hist.head(3)

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2021-05-13,124.580002,126.150002,124.260002,124.970001,105861300,0,0
2021-05-14,126.250000,127.889999,125.849998,127.449997,81918000,0,0
2021-05-17,126.820000,126.930000,125.169998,126.269997,74244600,0,0

In [16]:
hist.index

DatetimeIndex(['2021-05-13', '2021-05-14', '2021-05-17', '2021-05-18',
               '2021-05-19', '2021-05-20', '2021-05-21', '2021-05-24',
               '2021-05-25', '2021-05-26', '2021-05-27', '2021-05-28',
               '2021-06-01', '2021-06-02', '2021-06-03', '2021-06-04',
               '2021-06-07', '2021-06-08', '2021-06-09', '2021-06-10',
               '2021-06-11', '2021-06-14', '2021-06-15', '2021-06-16',
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30', '2021-07-01', '2021-07-02',
               '2021-07-06', '2021-07-07', '2021-07-08', '2021-07-09',
               '2021-07-12', '2021-07-13', '2021-07-14', '2021-07-15',
               '2021-07-16', '2021-07-19', '2021-07-20', '2021-07-21',
               '2021-07-22', '2021-07-23'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [24]:
hist.index = hist.index.strftime('%d %B %Y')

AttributeError: 'Index' object has no attribute 'strftime'

In [26]:
hist = hist[['Close']]
hist.columns = ['apple']
hist.head()

                  apple
Date
13 May 2021  124.970001
14 May 2021  127.449997
17 May 2021  126.269997
18 May 2021  124.849998
19 May 2021  124.690002

In [28]:
hist = hist.T
hist

Date,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,...,12 July 2021,13 July 2021,14 July 2021,15 July 2021,16 July 2021,19 July 2021,20 July 2021,21 July 2021,22 July 2021,23 July 2021
apple,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.43,127.099998,126.900002,126.849998,...,144.5,145.639999,149.149994,148.479996,146.389999,142.449997,146.149994,145.399994,146.800003,148.559998

In [29]:
hist.index.name = 'Name'

In [30]:
hist

Date,13 May 2021,14 May 2021,17 May 2021,18 May 2021,19 May 2021,20 May 2021,21 May 2021,24 May 2021,25 May 2021,26 May 2021,...,12 July 2021,13 July 2021,14 July 2021,15 July 2021,16 July 2021,19 July 2021,20 July 2021,21 July 2021,22 July 2021,23 July 2021
Name,,,,,,,,,,,,,,,,,,,,,
apple,124.970001,127.449997,126.269997,124.849998,124.690002,127.309998,125.43,127.099998,126.900002,126.849998,...,144.5,145.639999,149.149994,148.479996,146.389999,142.449997,146.149994,145.399994,146.800003,148.559998